
html,
body {
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0, 0, 0, 0.504) 100%, rgb(0, 0, 0) 98%);
  font-family: brandon-grotesque, sans-serif;
}



* {
  color: whitesmoke;
  box-sizing: border-box;
}
